@import url("./global.css");

/** Commons */
.l_wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 30px;
}

.bold {
  font-weight: 700;
}

.orange {
  color: var(--color-orange);
}

.green {
  color: var(--color-green);
}

.blue {
  color: var(--color-blue);
}

/** */
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: var(--color-orange);
  font-size: 24px;
  font-weight: 700;
}

.header-logo {
  width: 125px;
}

/** cardList section */
.section {
  background-color: #d9d9d9;
  position: relative;
}

.cardList {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  width: 300px;
  flex-shrink: 0;
}

.card-header {
  position: relative;
}

.card-title {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 700;
}

.card-description {
  background-color: white;
  padding: 20px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  flex-grow: 1;
}

.card-tagList {
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
}

.card-tag {
  color: white;
  font-family: "Noto Sans CJK KR";
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  border-radius: 48px;
  padding: 2px 8px;
}

.card-tag.orange {
  background-color: var(--color-orange);
}

.card-tag.green {
  background-color: var(--color-green);
}

.card-tag.blue {
  background-color: var(--color-blue);
}

.copy-right {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.88px;
  position: absolute;
  bottom: 5px;
}
