@import url("../style/reset.css");

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image: url("../images/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 100px;
}

.header-border {
  flex-basis: 900px;
  border: 30px solid #ffa500;
  border-bottom: none;
  margin: 0 auto;
  padding: 60px;
  padding-bottom: 0;
  display: flex;
}
