@import url("./global.css");
/* font-family: "Noto Sans KR", sans-serif; */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}

/** Commons */

.section {
}

.section-cover {
  position: relative;
}

.section-cover::after {
  content: "";
  min-width: 100%;
  min-height: 50%;
  background: linear-gradient(0deg, #111 0%, rgba(17, 17, 17, 0) 81.45%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-main {
  position: relative;
  display: flex;
  gap: 100px;
  padding: 0 108px 60px 60px;
  margin-top: -50px;
  z-index: 2;
}

.section-content {
}

.section-content h1 {
  margin-bottom: 26px;
  overflow-wrap: break-word;

  /** typography */
  color: #fff;
  font-size: 64px;
  font-weight: 700;
}

.section-content p:not(:last-child) {
  margin-bottom: 36px;
}

.section-content .article {
  /** typography */
  color: #999;
  font-family: "Noto Sans KR";
  line-height: 1.6em;
}

/** sidebar */
.section-sidebar {
  flex-shrink: 0;
}

.sidebar-section {
  margin-bottom: 40px;
}

.section-sidebar h5 {
  margin-bottom: 20px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  /** typography */
  color: #fff;
  font-weight: 700;
  line-height: 1.6em;
}

.tagList {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  flex-shrink: 0;
  gap: 4px;
}

.tag {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 12px;
  background-color: #222;
  padding: 2px 14px;
  text-align: center;
  justify-self: flex-start;

  /** typography */
  color: #aaa;
  font-size: 14px;
  line-height: 1.6em;
}

.star {
  position: relative;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
}

.star.type_full::after {
  content: "";
  position: absolute;
  background-image: url("../images/star.png");
  background-size: 500%;
  min-width: 50px;
  min-height: 50px;
  background-position: bottom right;
}

.star.type_empty::after {
  content: "";
  position: absolute;
  background-image: url("../images/star.png");
  background-size: 500%;
  min-width: 50px;
  min-height: 50px;
  background-position: top right;
}

.profileList {
  min-width: 0;
}

.profile {
  width: 56px;
  border-radius: 50%;
  border: 4px solid #111;
  margin-right: -20px;
}

@media (max-width: 700px) {
  .section-main {
    flex-direction: column;
    gap: 48px;
  }
}
