@import url("./global.css");

body {
  font-family: "Montserrat", sans-serif;
}

/** Commons */
.l_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
}

.l_grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ) );
  gap: 30px;
}

.strong {
  font-weight: 700;
}

.highlight {
  box-shadow: 0 -0.7em 0 0 inset var(--color-highlight);

  /* 또다른 방법 ㅎㅎ */
  background-image: linear-gradient( to bottom, transparent 0.6em, #ff4500 0 );
}

.list-item {
  display: flex;
  align-items: start;

  /** typography */
  color: #111;
  font-size: 14px;
  font-weight: 400;
}

.list-item:before {
  content: " ";
  width: 10px;
  height: 10px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  margin-right: 14px;
  flex-shrink: 0;
  margin-top: 5px;
}

.list-item:not(:last-child) {
  margin-bottom: 12px;
}

.button {
  padding: 0 14px;
  background-color: var(--color-orange);
  border-radius: 4px;
  border-bottom: 4px solid rgb(0 0 0 / 0.1);
  cursor: pointer;
  color: var(--color-white);
  font-weight: 700;
  text-align: center;
  line-height: 2.75em;
}

.button.type_orange {
  background-color: var(--color-orange);
  color: var(--color-white);
}

/* components */
.section {
  padding: 92px 0 100px;
  background-color: var(--color-background);
}

.section.type_purple {
  --color-background: var(--color-purple);
  --color-accent: var(--color-white);
  --color-secondary: var(--color-purple-10);
}

.section.type_pink {
  --color-background: #fff5ed;
  --color-accent: var(--color-pink);
  --color-secondary: var(--color-pink-10);
}

.section-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.section-header-aside {
  margin-left: auto;
}

.section-header h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1em;
  font-family: Montserrat;
  color: var(--color-accent);
  min-width: 260px;
  flex-shrink: 0;
}

.section-description {
  max-width: 550px;
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  align-items: center;
  display: flex;
  gap: 30px;
}

.section-description::before {
  content: ' ';
  flex-shrink: 0;
  width: 90px;
  height: 1px;
  background-color: currentColor;
  opacity: 0.8;
}

.pannel {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pannel-item {
  display: flex;
  background-color: white;
}

.pannel-item:nth-of-type(even) {
  flex-direction: row-reverse;
}

.pannel-item-header {
  position: relative;
  aspect-ratio: 280 / 148;
  display: flex;
}

.pannel-item-header h4 {
  background: rgba(98, 48, 162, 0.5);
  z-index: 1;
  width: 280px;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  text-wrap: balance;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375em;
}

.pannel-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pannel-item-main {
  padding: 16px 21px 21px;
  flex-basis: 0;
  flex-grow: 1;
}

.pannel-item-main h5 {
  margin-bottom: 14px;

  /** typography */
  color: var(--color-purple);
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.card {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.card.type_badge::before {
  content: "";
  background-image: url("../images/badge.png");
  width: 110px;
  height: 110px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 2;
}

.card-cover {
  aspect-ratio: 1.3/ 1;
  border-bottom: 4px solid #111;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}

.card h2 {
  /** typography */
  color: #111;
  font-size: 24px;
  font-weight: 700;
}

.card-description {
  /** typography */
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  flex-grow: 1;
}

.card hr {
  background-color: #eee;
  height: 4px;

  /*
  margin-left: auto;
  width: calc(100% - 20px);
  */

  margin-left: 20px;
}

.card-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.card-status {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #ebdbff;
  border-radius: 12px;
  padding: 3px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /** typography */
  color: var(--color-purple);
  font-size: 14px;
  font-weight: 600;
}

.circle-item {
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -15px;
}

/** 반응형 */
@media (max-width: 768px) {
  .section-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-header-aside {
    margin: 0 auto;
  }

  .section-description::before {
    display: none;
  }

  .pannel-item {
    display: block;
  }
}
