@import url("./global.css");

body {
  font-family: "Montserrat", sans-serif;
}

/** Commons */
.l_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
}

.strong {
  font-weight: 700;
}

.highlight {
  box-shadow: 0 -0.7em 0 0 inset var(--color-highlight);
}

.section {
  padding: 92px 0 100px;
}

.section-header {
  margin-bottom: 100px;
}

/** section-first*/
.section.type_purple {
  background-color: var(--color-purple);
}

.type_purple .section-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.type_purple h1 {
  max-width: 260px;

  /** typography */
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1em;
}

.type_purple hr {
  width: 90px;
  height: 1px;
  background-color: rgb(200, 157, 255);
}

.type_purple .description {
  max-width: 460px;

  /** typography */
  color: #c89dff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.portfolio-item {
  display: flex;
  background-color: white;
}

.portfolio-item:nth-of-type(even) {
  flex-direction: row-reverse;
}

.portfolio-item .portfolio-item-main:nth-of-type(even) {
  margin-right: auto;
}

.portfolio-header {
  position: relative;
  aspect-ratio: 280 / 148;
  display: flex;
  align-items: center;
}

.portfolio-header:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(98, 48, 162, 0.5);
  z-index: 1;
}

.portfolio-header h4 {
  position: relative;
  z-index: 1;
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;

  /** typography */
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375em;
}

.portfolio-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item-main {
  padding: 16px 21px 21px;
}

.portfolio-item-main h5 {
  margin-bottom: 14px;

  /** typography */
  color: var(--color-purple);
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.list-item {
  display: block;
  list-style-position: outside;
  /** typography */
  color: #111;
  font-size: 14px;
  font-weight: 400;
}

.list-item:before {
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #c89dff;
  border-radius: 50%;
  margin-right: 14px;
  display: inline-block;
}

.list-item:not(:last-child) {
  margin-bottom: 12px;
}

/** section type_pink*/
.section.type_pink {
  background-color: #fff5ed;
}

.type_pink .section-header {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.type_pink h1 {
  max-width: 360px;
  /** typography */
  color: var(--color-pink);
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
}

.button.type_orange {
  padding: 0 14px;
  background-color: var(--color-orange);
  border-radius: 4px;
  border-bottom: 4px solid rgb(0 0 0 / 0.1);
  cursor: pointer;

  /** typography */
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 2.75em;
}

.grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid-item {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.grid-item.badge::before {
  content: "";
  background-image: url("../images/badge.png");
  width: 110px;
  height: 110px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 2;
}

.grid-item-cover {
  aspect-ratio: 1.3/ 1;
  border-bottom: 4px solid #111;
}

.grid-item-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #ebdbff;
  border-radius: 12px;
  padding: 3px 12px;
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /** typography */
  color: var(--color-purple);
  font-size: 14px;
  font-weight: 600;
}

.grid-item h2 {
  /** typography */
  color: #111;
  font-size: 24px;
  font-weight: 700;
}

.grid-item .description {
  /** typography */
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  flex-grow: 1;
}

.grid-item hr {
  background-color: #eee;
  height: 4px;
  margin-left: auto;
  width: calc(100% - 20px);
}

.grid-item-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.grid-item-status {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0;
}

.circle-item {
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.circle-item:not(:last-child) {
  margin-right: -15px;
}
